/* Reset CSS */
@font-face {
    font-family: 'SurfingCapital';
    src: url('SurfingCapital.woff') format('woff'); /* Formato WOFF */
    /* Adicione mais formatos se necessário (eot, ttf, svg) */
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container {
	height: 2000px; /* Adjust height based on your website content */
	position: relative;
  }
  
  .heart {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ff0000; /* Heart color */
	clip-path: polygon(
	  50% 15%,
	  80% 80%,
	  50% 100%,
	  20% 80%,
	  50% 15%
	);
	animation: heart 1.5s ease-in-out infinite;
	pointer-events: none;
  }
  
  @keyframes heart {
	0% {
	  opacity: 1;
	  transform: scale(1);
	}
	100% {
	  opacity: 0;
	  transform: scale(1.5);
	}
  }



html,
body {
	background-color: wheat;
	padding: 15px;
	color: #552ee0;
}
h1{
	box-sizing: border-box;
	
}
video,
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px; /* Adjust border-radius as needed */
  object-fit: fill;
}



img.logo {
	
  width: 50%;
  height: auto;
  display: block;
  border-radius: 5px; /* Adjust border-radius as needed */
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
